/* Estilos básicos para navbar y sidebar */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}
.navbar {
    background-color: #333;
    color: #fff;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.sidebar {
    width: 250px;
    background-color: #f4f4f4;
    padding: 20px;
    height: 100vh;
    position: fixed;
    left: 0;
    top: 0;
}
.sidebar ul {
    list-style: none;
    padding: 0;
    margin: 0;
}
.sidebar ul li {
    margin-bottom: 10px;
}
.sidebar ul li:hover {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.8);
    transform: scale(1.1);
}

.sidebar-item-active{
    font-weight: bold;
}

.search-bar {
    margin-left: auto; /* Para empujar al extremo derecho */
    margin-right: 20px;
}
.content {
    margin-left: 270px;
    padding: 20px;
}

/* Estilos para el contenedor de la cuadrícula de productos */
.grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 20px;
    padding: 20px;
}

/* Estilos para cada producto */
.product {
    border: 1px solid #ccc;
    padding: 10px;
    text-align: center;
}

.product img {
    width: 100%;
    max-width: 150px;
    height: auto;
}

.product button {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    margin-top: 10px;
}

.product button:hover {
    background-color: #45a049;
}

/* Estilos para el control de cantidad */
.add-to-cart input[type="number"] {
    width: 50px;
    text-align: center;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.add-to-cart button {
    background-color: #4CAF50;
    color: white;
    padding: 8px 12px;
    border: none;
    cursor: pointer;
    margin-top: 10px;
}

.add-to-cart button:hover {
    background-color: #45a049;
}

.hidden {
    display: none;
}
/* Estilos para carrito */
#cart-header {
    border: 1px solid black;
    border-radius: 10px;
    padding: 5px;
    margin-left: 20px;
}
#cart-header div {
    display: flex;
    justify-content: right;
    flex-direction: row;
    align-items: right; 
    border-radius: 5px;
}
#cart-header button{
    margin: 5px;
}
#cart-header button:hover{
    scale: 1.2;
}
#cart-header p{
    font-weight: bold;
}

.cart {
    display: flex;
    flex-direction: column;
}
.cart-card {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    margin-left: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
.cart-card  img {
    width: 100px;
    height: auto;
    margin: 10px;
}
  
.info {
    flex-grow: 1;
 }
  
.delete-btn {
    background-color: red;
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
}


#product-detail {
    max-width: 600px;
    margin: 20px auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
}
#product-detail img {
    max-width: 100%;
    height: auto;
}
/*spinner*/
.loader {
    width: 48px;
    height: 48px;
    border: 5px solid #FFF;
    border-bottom-color: #FF3D00;
    border-radius: 50%;
    display: inline-block;
    box-sizing: border-box;
    animation: rotation 1s linear infinite;
}
@keyframes rotation {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
} 
